[submodule "src/aRPC"]
	path = src/aRPC
	url = https://github.com/NSRingo/aRPC.git
[submodule "src/proto"]
	path = src/proto
	url = https://github.com/NSRingo/proto.git
[submodule "src/XML"]
	path = src/XML
	url = https://github.com/NanoCat-Me/XML.git
